Flask==2.3.3
Flask-Bootstrap==3.3.7.1
psycopg2-binary==2.9.7
google-api-python-client==2.93.0
google-auth==2.22.0
google-cloud-billing==1.11.0
google-cloud-monitoring==2.16.0
matplotlib==3.7.2
pandas==2.0.3
pytz==2023.3
requests==2.31.0
